:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1920px;
  height: 6485px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}
.vector {
  position: relative;
  width: 196px;
  height: 3px;
  margin: 116.5px 0 0 1166.5px;
  background: url(./assets/images/82cd7d50-e9e8-4079-91a7-42da79aaab6e.png)
    no-repeat center;
  background-size: cover;
  z-index: 8;
}
.about-us-1 {
  display: block;
  position: relative;
  height: 140px;
  margin: 122.5px 0 0 810px;
  color: #0f172a;
  font-family: Lato, var(--default-font-family);
  font-size: 72px;
  font-weight: 400;
  line-height: 140px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 2.16px;
  z-index: 9;
}
.rectangle {
  position: relative;
  width: 864px;
  height: 376px;
  margin: 83px 0 0 1111px;
  background: #ffffff;
  z-index: 11;
  overflow: visible auto;
  border-radius: 40px;
}
.logo {
  position: relative;
  width: 722px;
  height: 222px;
  margin: 111px 0 0 50px;
  background: url(./assets/images/ef7d04ffbd2a39359506d51a937673e9ce0033c1.png)
    no-repeat center;
  background-size: cover;
  z-index: 12;
}
.korean-meaning {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  width: 1500px;
  height: 120px;
  margin: 158px 0 0 253px;
  color: #ffffff;
  font-family: Pretendard, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: right;
  text-overflow: initial;
  letter-spacing: 1.6px;
  z-index: 13;
  overflow: hidden;
}
.frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 1500px;
  height: 1583.513px;
  margin: 382px 0 0 210px;
  z-index: 14;
}
.our-story {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 140px;
  color: #0f172a;
  font-family: Lato, var(--default-font-family);
  font-size: 72px;
  font-weight: 400;
  line-height: 140px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2.16px;
  z-index: 15;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 72px;
  position: relative;
  width: 1084px;
  height: 1299.513px;
  z-index: 16;
}
.picture {
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  min-width: 0;
  height: 792px;
  background: url(./assets/images/5853085d3a695fe854b774d634fc48a592fe50e1.png)
    no-repeat center;
  background-size: cover;
  z-index: 17;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 52px;
  position: relative;
  min-width: 0;
  z-index: 18;
}
.support-medical-system {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 60px;
  color: #444444;
  font-family: Pretendard, var(--default-font-family);
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 1.6px;
  z-index: 19;
}
.company-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 1084px;
  height: 624px;
  color: #444444;
  font-family: Pretendard, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
  letter-spacing: 1.28px;
  z-index: 20;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 52px;
  position: relative;
  width: 1500px;
  margin: 376.487px 0 0 210px;
  z-index: 24;
}
.our-values {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 140px;
  color: #0f172a;
  font-family: Lato, var(--default-font-family);
  font-size: 72px;
  font-weight: 400;
  line-height: 140px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2.16px;
  z-index: 25;
}
.han-sono-values {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 1084px;
  height: 208px;
  color: #444444;
  font-family: Pretendard, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
  letter-spacing: 1.28px;
  z-index: 26;
}
.frame-5 {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 196px;
  position: relative;
  width: 1529px;
  margin: 142px 0 0 196px;
  z-index: 27;
}
.frame-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 395px;
  z-index: 28;
}
.removebg-preview {
  flex-shrink: 0;
  position: relative;
  width: 395px;
  height: 477px;
  background: url(./assets/images/1751af33-ca97-4e74-8f6b-411bd676efea.png)
    no-repeat center;
  background-size: cover;
  z-index: 29;
}
.responsibility {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 60px;
  color: #5b5b5b;
  font-family: Lato, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.6px;
  z-index: 30;
}
.frame-7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 345px;
  height: 638px;
  z-index: 31;
}
.removebg-preview-8 {
  flex-shrink: 0;
  position: relative;
  width: 345px;
  height: 498px;
  background: url(./assets/images/9049b5b5-af09-4613-8a34-a58d1f152f64.png)
    no-repeat center;
  background-size: cover;
  z-index: 32;
}
.creativity {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 60px;
  color: #5b5b5b;
  font-family: Lato, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.6px;
  z-index: 33;
}
.frame-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 397px;
  height: 638px;
  z-index: 34;
}
.group {
  flex-shrink: 0;
  position: relative;
  width: 397px;
  height: 492px;
  z-index: 35;
}
.image {
  position: absolute;
  width: 397px;
  height: 492px;
  top: 0;
  left: 0;
  background: url(./assets/images/d5855db1ef97462753fc9e5370663fbd39b7835a.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.harmony {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 60px;
  color: #5b5b5b;
  font-family: Lato, var(--default-font-family);
  font-size: 40px;
  font-weight: 500;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.6px;
  z-index: 37;
}
.frame-a {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 52px;
  position: relative;
  width: 1500px;
  margin: 273px 0 0 210px;
  z-index: 21;
}
.support-for-our-team {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 140px;
  color: #0f172a;
  font-family: Lato, var(--default-font-family);
  font-size: 72px;
  font-weight: 400;
  line-height: 140px;
  text-align: center;
  white-space: nowrap;
  letter-spacing: 2.16px;
  z-index: 22;
}
.research-focused-company {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
  width: 1084px;
  height: 208px;
  color: #444444;
  font-family: Pretendard, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
  letter-spacing: 1.28px;
  z-index: 23;
}
.frame-b {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  width: 1240px;
  margin: 146px 0 0 340px;
  padding: 0 20px 0 20px;
  z-index: 40;
}
.frame-c {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 50px;
  position: relative;
  width: 240px;
  z-index: 41;
}
.home-office {
  flex-shrink: 0;
  position: relative;
  width: 240px;
  height: 240px;
  background: url(./assets/images/d63eb15a5b6be591b6035cfe9b5ec1f33b47e2b7.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
}
.frame-d {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  z-index: 43;
}
.work-type {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 60px;
  color: #5b5b5b;
  font-family: Pretendard Variable, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.28px;
  z-index: 44;
}
.flexible-work-schedule {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 240px;
  height: 80px;
  color: #5b5b5b;
  font-family: Pretendard Variable, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-overflow: initial;
  letter-spacing: 0.96px;
  z-index: 45;
  overflow: hidden;
}
.frame-e {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 240px;
  padding: 16px 0 0 0;
  z-index: 46;
}
.home-office-f {
  flex-shrink: 0;
  position: relative;
  width: 200px;
  height: 200px;
  background: url(./assets/images/fad104fa450ea7169a6c9ab1465dff82f18b56b7.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.frame-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  z-index: 48;
}
.education-support {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 60px;
  color: #5b5b5b;
  font-family: Pretendard Variable, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.28px;
  z-index: 49;
}
.various-forms-of-education-support {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 240px;
  height: 80px;
  color: #5b5b5b;
  font-family: Pretendard Variable, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-overflow: initial;
  letter-spacing: 0.96px;
  z-index: 50;
  overflow: hidden;
}
.frame-11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  position: relative;
  width: 240px;
  padding: 20px 0 0 0;
  z-index: 51;
}
.contract {
  flex-shrink: 0;
  position: relative;
  width: 200px;
  height: 200px;
  background: url(./assets/images/5b657aa09cbc31af7ea274ec2d1d2510f6e7f25b.png)
    no-repeat center;
  background-size: cover;
  z-index: 52;
}
.frame-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  min-width: 0;
  z-index: 53;
}
.vacation-policy {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 60px;
  color: #5b5b5b;
  font-family: Pretendard Variable, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 1.28px;
  z-index: 54;
}
.additional-leave-negotiable {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
  width: 240px;
  height: 80px;
  color: #5b5b5b;
  font-family: Pretendard Variable, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-overflow: initial;
  letter-spacing: 0.96px;
  z-index: 55;
  overflow: hidden;
}
.non-legal-leave {
  display: block;
  position: relative;
  height: 52px;
  margin: -4px 0 0 1378px;
  color: #cbd5e1;
  font-family: Actor, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 52px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.96px;
  z-index: 39;
}
.designed-by-freepik {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  width: 188px;
  height: 52px;
  margin: 165px 0 0 1637px;
  color: #444444;
  font-family: Actor, var(--default-font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 52px;
  text-align: right;
  white-space: nowrap;
  letter-spacing: 0.8px;
  z-index: 38;
}
.image-13 {
  position: absolute;
  width: 277px;
  height: 85px;
  top: 32px;
  left: 41px;
  background: url(./assets/images/d338ddee8e90fca4cfc0bddc04bdc26017571821.png)
    no-repeat center;
  background-size: cover;
}
.frame-14 {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 80px;
  position: absolute;
  width: 656px;
  height: 48px;
  top: 53px;
  left: 1187px;
  z-index: 1;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 156px;
  padding: 8px 16px 8px 16px;
  background: rgba(255, 255, 255, 0);
  z-index: 2;
  border-radius: 6px;
}
.ghost {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #0f172a;
  font-family: Lato, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.19px;
  z-index: 3;
}
.button-15 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 159px;
  padding: 8px 16px 8px 16px;
  background: rgba(255, 255, 255, 0);
  z-index: 4;
  border-radius: 6px;
}
.ghost-16 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #0f172a;
  font-family: Lato, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.32px;
  z-index: 5;
}
.button-17 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 10px;
  position: relative;
  width: 181px;
  padding: 8px 16px 8px 16px;
  background: rgba(255, 255, 255, 0);
  z-index: 6;
  border-radius: 6px;
}
.ghost-18 {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 32px;
  color: #406625;
  font-family: Lato, var(--default-font-family);
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.19px;
  z-index: 7;
}
.group-19 {
  position: absolute;
  width: 1945px;
  height: 805px;
  top: 526px;
  left: -24px;
  background: url(./assets/images/16e31be3-627f-4ee8-a5b5-84b241aea1dd.png)
    no-repeat center;
  background-size: cover;
  z-index: 10;
}
.frame-1a {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: absolute;
  width: 1920px;
  height: 280px;
  top: 6205px;
  left: 1px;
  padding: 0 96px 60px 96px;
  background: linear-gradient(180deg, #5b5b5b, #282828);
  z-index: 56;
}
.frame-1b {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 2px;
  position: relative;
  width: 636px;
  z-index: 57;
}
.text {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 32px;
  color: #ffffff;
  font-family: Pretendard Variable, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.96px;
  z-index: 58;
}
.han-sono {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 32px;
  color: #ffffff;
  font-family: Pretendard Variable, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.96px;
  z-index: 59;
}
.copyright {
  align-self: stretch;
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  min-width: 0;
  height: 32px;
  color: #ffffff;
  font-family: Pretendard Variable, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-align: left;
  white-space: nowrap;
  letter-spacing: 0.96px;
  z-index: 60;
}
.bottom {
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex-shrink: 0;
  gap: 16px;
  position: relative;
  width: 466px;
  z-index: 61;
}
.home {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Lato, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.line {
  flex-shrink: 0;
  position: relative;
  width: 1px;
  height: 20px;
  background: url(./assets/images/a6eda5cf-3a62-4b84-bff1-ef9a10f9d160.png)
    no-repeat center;
  background-size: cover;
  z-index: 63;
}
.about-us-1c {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Lato, var(--default-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
}
.line-1d {
  flex-shrink: 0;
  position: relative;
  width: 1px;
  height: 20px;
  background: url(./assets/images/6c94b3be-f886-49b2-893b-e9478f030ac4.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
}
.products {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Lato, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.line-1e {
  flex-shrink: 0;
  position: relative;
  width: 1px;
  height: 20px;
  background: url(./assets/images/62df41c2-049f-43eb-a252-2357dde0a51a.png)
    no-repeat center;
  background-size: cover;
  z-index: 67;
}
.contact-us {
  flex-shrink: 0;
  flex-basis: auto;
  position: relative;
  height: 20px;
  color: #ffffff;
  font-family: Lato, var(--default-font-family);
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}
